exportPattern("^[[:alpha:]]+")


#’ @import dplyr
#’ @import ggplot2
#’ @import RColorBrewer
#’ @import NMF 
#’ @importFrom grid.draw
#’ @importFrom cowplot plot_grid
#’ @importFrom reshape2 melt
#’ @importFrom psych corr.test
#’ @importFrom plyr ddply
#’ @importFrom magrittr set_columns
#’ @importFrom YAPSA LCD
#’ @importFrom gridExtra grid.arrange
